@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter';
}

@layer components {
  html {
    @apply bg-base text-white;
  }

  h1 {
    @apply text-6xl text-quartiary my-2.5;
  }

  h2 {
    @apply text-3xl text-secondary my-2.5;
  }

  h3 {
    @apply text-2xl text-pinky my-2.5;
  }
}

.main-link,
sub-link {
  @apply text-lg;
}

.main-link.router-link-active {
  @apply text-quartiary underline;
}

a:not(.sub-link-active),
a:not(.router-link-active) {
  @apply text-tertiary;
}

.sub-link-active {
  @apply text-quartiary;
}

.main-text {
  @apply text-quartiary text-lg text-justify;
}
