@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter';
}

@layer components {
  html {
    @apply bg-base text-white;
  }

  h1 {
    @apply text-4xl md:text-6xl text-quartiary my-2.5;
  }

  h2 {
    @apply text-xl md:text-3xl text-secondary my-2.5;
  }

  h3 {
    @apply text-lg md:text-2xl text-pinky my-2.5;
  }
}

.main-link,
sub-link {
  @apply text-lg;
}

.main-link.router-link-active {
  @apply text-quartiary underline;
}

a:not(.sub-link-active),
a:not(.router-link-active) {
  @apply text-tertiary;
}

.sub-link-active {
  @apply text-quartiary;
}

.main-text {
  @apply text-quartiary text-sm md:text-lg text-justify;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #8d86c9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #aba7c9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Hide the scrollbar for smaller screens */
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 6px;
  }
}
